@import "../sass//variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: $default-font-family;
  font-size: $default-font-size;
}

.title {
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0.015em;
  text-align: center;
  color: $primary-color;
  margin-top: 40px;
}

.reusable-button {
  width: 156px;
  height: 52px;
  border-radius: 5%;
  background-color: $secondary-color;
  color: $secondary-text-color;
}
