$primary-color: #101750;
$secondary-color: #fb2e86;
$text-color: #8a8fb9;
$details-color: #0cc562;
$secondary-text-color: #fff;
$text-font: "Lato";
$text-font-weight: 700;

$default-font-size: 16px;
$default-font-family: "Josefin Sans";
